:root {
  --primary-clr: #00c8ff;
  --primary-clr-dark: #00a2ff;
  --primary-clr-darker: #0066ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* nice scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 50px;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-clr);  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #B2FEFA, var(--primary-clr));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #B2FEFA, var(--primary-clr)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h2 {
  font-weight: 100;
  font-size: 1rem;
}

.container {
  position: relative;
  width: 1400px;
  min-height: 850px;
  margin: 0 auto;
  padding: 5px;
  color: var(--primary-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--primary-clr-dark);
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0px 0px 10px 1px #B2FEFA;
}

.this-month {
  font-size: 2.3rem;
}

.calendar .month-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .month-container .prev,
.calendar .month-container .next {
  cursor: pointer;
}

.calendar .month-container .prev:hover,
.calendar .month-container .next:hover {
  color: var(--primary-clr);
  transform: scale(120%);
}

.week-container {
  background-color: #fff;
  position: relative;
  width: 1360px;
  min-height: 500px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
}

.today {
  background-color: #0099ff;
  color: rgb(255, 255, 255);
  width: 35px;
}

.events {
  margin-top: 10px;
}

.column {
  width: 14.28%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  border: solid 0.5px #c7c7c7;
  padding: 20px;
  margin-bottom: 20px;
}

.column-dark {
  background-color: #e9f9ff;
}

.column ul {
  list-style-type: square;
  font-size: 0.9rem;

}

.column li {
  margin-top: 10px;
  color: var(--primary-clr-dark);
  white-space: normal;
  outline: none;
  cursor: no-drop;
}

.column li:focus {
  background-color: #f1f1f1;
}

.column .day {
  font-size: 2rem;
  font-weight: 800;
}

.add-event-input {
  position: absolute;
  bottom: 70px;
  height: 40px;
  width: 150px;
  border: 1px solid var(--primary-clr-darker);
  color: var(--primary-clr-darker);
  outline: none;
  font-weight: 100;
  font-size: 0.9rem;
}

.add-btn {
  background-color: #ffffff00;
  position: absolute;
  bottom: 40px;
  height: 25px;
  width: 50px;
  font-size: 0.8rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--primary-clr-darker);
  border-radius: 0px;
  cursor: pointer;
  padding: 5px 5px;
  border: 1px solid var(--primary-clr-darker);
  transition: all 0.4s;
}

.add-btn:hover {
  color: #fff;
  background-color: var(--primary-clr-darker);
}

div .today-wrapper {
  position: flex;
  justify-content: flex-end;
  margin-left: 20px;
  margin-bottom: 10px;
}
.today-btn {
  height: 30px;
  width: 110px;
  font-size: 0.8rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--primary-clr-darker);
  border-radius: 0px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr-darker);
  transition: all 0.4s;
}
.today-btn:hover {
  color: #fff;
  background-color: var(--primary-clr-darker);
}

/* media queries */
@media screen and (max-width: 1100px){
  .container {
    width: 1000px;
  }

  .week-container{
    width: 960px;
  }

  .column{
    
  }

  .add-event-input {
    width: 95px;
  }
}